PORT=8080

# SendGrid Config
SENDGRID_API_KEY=SG_API_KEY
SENDGRID_FROM_EMAIL=your_email
# NetGSM Config
NETGSM_USERCODE=your_usercode
NETGSM_PASSWORD=your_password
NETGSM_HEADER=your_header

# Iyzico Config
IYZICO_API_KEY=your_api_key
IYZICO_SECRET_KEY=your_secret_key
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com